

nav{
  
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 10px;
}

.left{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  0 15px;
  

}

.left h2{
  color: #216ad9;
}

.left img{
  padding: 0 5px ;
  box-sizing: content-box;
}
.right{
  align-content: center;
  padding: 0 50px;
}

.right button{
  background-color: #216ad9 ;
  color: white;
  border: none;
  padding: 8px 32px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;  
}

